# ----------------------
# Virtual Environment
# ----------------------
venv/
env/
myenv/
.venv/

# ----------------------
# Environment Variables
# ----------------------
.env

# ----------------------
# Python Cache
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# IDE Files
# ----------------------
.vscode/
.idea/

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db